@model List<OrderDto>

<h2>Your Orders</h2>
<ul class="list-group">
    <table class="table">
        <thead>
            <tr>
                <th>Lot</th>
                <th>Final Price</th>
                <th>Date Created</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.LotId</td>
                    <td>@order.FinalPrice</td>
                    <td>@order.DateWon.ToShortDateString()</td>
                    <td class="text-center">
                        <a asp-controller="Lots" asp-action="Details" asp-route-id="@order.Id" class="btn btn-info">
                            View
                        </a>
                        <a asp-controller="Payment" asp-action="Pay"
                           asp-route-lotId="@order.LotId"
                           asp-route-lotName="@order.LotName"
                           asp-route-amount="@order.FinalPrice"
                           class="btn btn-success">
                            Pay Now
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</ul>
